{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

    <div class="d-flex flex-wrap">
        {% for user in users%}

            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ user.firstname }} {{ user.lastname }}</h5>
                    <p class="card-text">{{ user.email }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
